# Application
NEXT_PUBLIC_APP_NAME="UKM UPJ"
NEXT_PUBLIC_APP_URL="https://portal-ukm-upj.vercel.app"

# Database
DATABASE_URL="mysql://root:password@localhost:3306/ukm_management"

# Auth.js
AUTH_SECRET="replace-with-a-long-random-secret"
AUTH_URL="https://portal-ukm-upj.vercel.app"
